body{
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  padding-bottom: 4em;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.principal {
  width: 75%;
}
.sidebar {
  width: 20%;
  overflow: auto;

}

.wrapper .sidebar{

  background: rgb(162 15 59);
  position: fixed;
  top: 0;
  left: 0;
  width: 274px;
  height: 100%;
  padding: 25px 0;
  transition: all 0.5s ease;
  max-width: 20%;
  min-width: 20%;
}
.logo3 {
  width: 80%;
  position: relative;
  vertical-align: middle;    
  align-items: center;
  margin: 0 auto 16px;
  display: flex;
  margin-top: -37px;

}
.heat{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.logo_cdmx {
  width: 80%;
  position: relative;
  vertical-align: middle;
  /* margin-left: 20%; */
}
.tit{
  font-size:  2em;    
    align-content: center;    
    text-align: center;
}
.subtit {
    font-size: 18px;
    align-content: center;
    text-align: center;
    margin: 0 auto;

}
.ulcdmx{
  color: rgb(255, 255, 255) !important; 
  cursor: pointer;
  /* margin-bottom: 0px;
  margin-left: -18px; */
  margin-bottom: auto;
  margin-left: 40px;
  list-style: none;
}
.ulcdmx a{
  color: white;
  font-size: 1.3vw;
  text-decoration: none;
  font-weight: 400;
  transition: 1.1s;
}

.ulcdmx :hover{
  color: #bc955b;
  transition: background-color 1s;
  text-decoration: none;
}

.contenido{
margin: auto 2% auto 22%;
min-width: 20%;
max-width: 100%;

}
aside p{
color: #bdb9b9;
/* font-size: 12px;  */
/* margin: 0;
margin-left: auto; */
margin: auto auto auto 5px;
font-weight: bolder;

font-size: 1.1vw;


} 

.ul{
list-style: none;
/* padding-inline-start: 0px;  */
padding-inline-end: 4px;
}


.col hr{
  margin: 21px 1px 19px 0px;
/* margin: 16px 16px 18px -35px; */
/* margin: auto -4em; */
}


.breadcrumb
{
  background: #bc955b;
    box-shadow: 0px 0.1px 5px 1px #a02042;
}
.breadcrumb_list
{
  padding: 2px 0;
  margin: auto auto 19px auto;
}
.breadcrumb_list li
{
  list-style-type:none;
  display:inline;
  margin:0px 20px;
}
.breadcrumb_list a
{
  color:#b3b3b3;
  font-size:12px;
  text-decoration:none;
  font-family: "Arial";
}
.breadcrumb_list a:visited,.breadcrumb_list a:hover
{
  color: #ffffff;
}
.li-1:after
{
  content:"/";
  padding-left:20px;
  color:#ffffff;;
}

.formatos_down{
  /* background: rgb(162 15 59); */
  margin-left: 20px !important; 
  
}
.formatos_down a{
  color: #ffffff;
  font-size: 1.5vw;
  text-decoration: none;
  font-weight: 400;
  transition: 0.5s;
  margin: 0 0 0 0px;
  
}
.formatos_down a:hover{
  font-size: 1.6vw;
    transition: 0.5s;
    color: #bc955b;
    text-decoration: none;
}

.formatos{
  text-align: inherit;
    margin: 6px 0 2px 0px;
    background-color: #a20f3b;
  /* margin-left: 2%; */
  
}

.activo {
 background-color: aqua;
}

dl, ol, ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.migas{
  /* display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none; */
  background-color: #bc955b;
  border-radius: 11.25rem;
  margin: auto 27px;
}

.owavid{
 
  border: 2px solid;
  text-align:center
}

.footer{
  /* background-color: #a20f3b;
  padding: 1em 0;
  text-align: initial;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white; */
  background-color: #a20f3b;
  padding: 0em 0;
  text-align: initial;
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
  color: white;
}

.portada{
  margin: 0 0 0 20px;  
}

.caja-shadow{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.datosfoot a, .datosfoot li{
  font-size: 12px;
    color: white;
}

.footer-site-links {
  float: right;
    padding: 0px 0px 0px 0px;
    width: 47%;
    text-align: right;
}

footer ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 30px;
}
.footer-site-links li {
  display: inline-block;
}
.footer-site-links li {
  position: relative;
  background: none;
  width: auto;
  height: auto;
  line-height: 20px;
  margin: 0 10px 1px 1px;
  font-size: 12px;
}

.contcuerpo{
  position: relative;
    padding-bottom: 4em;
    /* min-height: 100vh; */
}

.logo_cdmx_food{
  width: 40%;
  position: relative;
  vertical-align: middle;
  /* margin-left: 20%; */
  margin: 0px 1px 1px -41px;
}

.wrapper{
  width: 500px;
  height: 500px;
  position: absolute;
  /* left: 50%; */
  /* top: 50%; */
  /* transform: inherit; */
  transform: translate(-50%, -50%);
  border-radius: 5%;
  background: #ffffff;
  overflow: hidden;

}

.wave{
  width: 1000px;
  height: 1025px;
  position: absolute;
  top: -25%;
  left: 50%;
  margin: -500px;
  margin-top: -500px;
  border-radius: 45%;
  background: #a20f3b;
  z-index: 999;
  opacity: 1;
  animation: wave 15s infinite linear;
  

}

.wave::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
  border-radius: 40%;
  background: #2498db;
  z-index: 997;
  opacity: 0.6;
  animation: wave2 25s infinite linear;

}

.wave::after
{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
  border-radius: 35%;
  background: #210;
  z-index: 997;
  opacity: .4;
  animation: wave3 25s infinite linear;
  
}

@keyframes wave{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(180deg);
  }
}