
html {  
    position: relative;  
    min-height: 100%;  
}  
body {  
    padding-top: 1rem;  
    margin-bottom: 1rem;  
}  
.footer {  
  position: absolute;  
  bottom: 0;  
  width: 100%;  
  height: 3.5rem;  
  line-height: 3.5rem;  
  background-color: #ccc;  
}  
.bg-dark {  
    background-color: #a02042b6!important;  
}  
.nav-link:hover {  
  transition: all 0.4s;  
}  
.nav-link-collapse:after {  
  float: right;  
  content: '\f067';  
  font-family: 'FontAwesome';  
}  
.nav-link-show:after {  
  float: right;  
  content: '\f068';  
  font-family: 'FontAwesome';  
}  
.nav-item ul.nav-second-level {  
  padding-left: 0;  
}  
.nav-item ul.nav-second-level > .nav-item {  
  padding-left: 20px;  
}  
@media (min-width: 992px) {  
  .sidenav {  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 230px;  
    height: calc(100vh - 3.5rem);  
    margin-top: 3.5rem;  
    background: #343a40;  
    box-sizing: border-box;  
    border-top: 1px solid rgba(0, 0, 0, 0.3);  
  }  
  .navbar-expand-lg .sidenav {  
    flex-direction: column;  
  }  
  .content-wrapper {  
    margin-left: 230px;  
  }  
  .footer {  
    width: calc(100% - 230px);  
    margin-left: 230px;  
  }  
}    

.logo_cdmx {
    width: 60%;
    position: relative;
    vertical-align: middle;
    /* margin-left: 20%; */
}

.heat{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.wrapper .sidebar{

    background: rgb(162 15 59);
    position: fixed;
    top: 0;
    left: 0;
    width: 259px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.logo3 {
    width: 100%;
    position: relative;
    vertical-align: middle;    
    align-items: center;
    margin: 0 auto;
    display: flex;
}
.ulcdmx{
    color: rgb(255, 255, 255) !important; 
    cursor: pointer;
    margin-bottom: 23px;
}
.ulcdmx a{
    color: white;
    font-size: 18px;
}

.ulcdmx :hover{
    color: rgb(251, 255, 8);
    transition: background-color 1s;
}

