.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.principal {
  width: 75%;
}
.sidebar {
  width: 23%;
  overflow: auto;

}

.wrapper .sidebar{

  background: rgb(162 15 59);
  position: fixed;
  top: 0;
  left: 0;
  width: 274px;
  height: 100%;
  padding: 25px 0;
  transition: all 0.5s ease;
  max-width: 20%;
  min-width: 20%;
}
.logo3 {
  width: 80%;
  position: relative;
  vertical-align: middle;    
  align-items: center;
  margin: 0 auto 16px;
  display: flex;
  margin-top: -37px;

}
.heat{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.logo_cdmx {
  width: 80%;
  position: relative;
  vertical-align: middle;
  /* margin-left: 20%; */
}
.tit{
  font-size:  2em;    
    align-content: center;    
    text-align: center;
}
.subtit {
    font-size: 18px;
    align-content: center;
    text-align: center;
    margin: 0 auto;

}
.ulcdmx{
  color: rgb(255, 255, 255) !important; 
  cursor: pointer;
  /* margin-bottom: 0px;
  margin-left: -18px; */
  margin-bottom: auto;
  margin-left: 40px;
  list-style: none;
}
.ulcdmx a{
  color: white;
  font-size: 1.3vw;
  text-decoration: none;
  font-weight: 400;
  transition: 1.1s;
}

.ulcdmx :hover{
  color: #bc955b;
  transition: background-color 1s;
}

.contenido{
margin: auto 2% auto 22%;
min-width: 20%;
max-width: 100%;

}
aside p{
color: #bdb9b9;
/* font-size: 12px;  */
/* margin: 0;
margin-left: auto; */
margin: auto auto auto 5px;
font-weight: bolder;

font-size: 1.1vw;


} 

.ul{
list-style: none;
/* padding-inline-start: 0px;  */
padding-inline-end: 4px;
}


.col hr{
  margin: 21px 1px 19px 0px;
/* margin: 16px 16px 18px -35px; */
/* margin: auto -4em; */
}


.breadcrumb
{
  background: #bc955b;
    box-shadow: 0px 0.1px 5px 1px #a02042;
}
.breadcrumb_list
{
  padding: 2px 0;
  margin: auto auto 19px auto;
}
.breadcrumb_list li
{
  list-style-type:none;
  display:inline;
  margin:0px 20px;
}
.breadcrumb_list a
{
  color:#b3b3b3;
  font-size:18px;
  text-decoration:none;
  font-family: "Arial";
}
.breadcrumb_list a:visited,.breadcrumb_list a:hover
{
  color: #ffffff;
}
.li-1:after
{
  content:"/";
  padding-left:20px;
  color:#ffffff;;
}

.formatos_down{
  background: rgb(162 15 59);
  
}
.formatos_down a{
  color: white;
  font-size: 1.5vw;
  text-decoration: none;
  font-weight: 400;
  transition: 0.5s;
}
.formatos_down a:hover{
  font-size: 2vw;
  transition: 1.1s;
}

.formatos{
  margin: 1px 0px 15px 0px;
}